.widget {
  background-color: rgb(175, 137, 87);
  padding: 5px 5px;
}

.map-title {
  background-color: rgb(94, 175, 87);
}

table {
  width: 100%;
}

.mat-header-row, .mat-row {
  height: 20px !important;
}